@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

$table-bg: #fff;
$strip-row-bg: #f1f8e9;

.table-mates {
    width: 100%;
    table-layout: fixed;

    .reactable-th-number {
        width: 50px;
    }

    th {
        &:focus {
            outline: none !important;
        }
    }

    td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

    }

    td {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: $strip-row-bg;
    }
}